* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

.banner-container {
    /* width: 1920px;
    height: 850px; */
    width: 100%;
    height: 100%;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    /* gap: ; */
    align-items: center;
    padding: 50px 240px 0px 50px;
}

.banner-img {
    width: 635px;
    height: 800px;

}

.description {
    width: 634px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    line-height: 30px;
    margin-bottom: 32px;
}

.title {
    font-size: 80px;
    color: #272727;
    font-weight: bold;
    margin-bottom: 32px;


}

.btn {
    padding: 20px 43px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 8px;
}

/* feature section */
.fe-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 24px;
}

.fe-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.feature-bg {
    /* width: 1500px; */
    /* height: 4867px; */
    background-color: #FFF;
    /* display: none; */
}

.box-container {
    display: flex;
    /* justify-content: space-around; */
    width: 1920px;
    height: 4867px;
    gap: 24px;
    margin-left: 240px;
    margin-right: 240px;
    position: relative;

}

.box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    justify-content: center;
    position: inherit;
    background-color: rgba(167, 33, 98, 0.15);
}

.box-2 {
    background-color: rgba(5, 151, 160, 0.15);

}

.box-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.img-1 {
    width: 310px;
    height: 428px;
    position: absolute;
    bottom: 0px;

}

.img-2 {
    width: 370px;
    height: 370px;
    position: absolute;
    bottom: 0px;

}

.img-3 {
    width: 314px;
    height: 471px;
    position: absolute;
    bottom: 0px;
}

/* delivery section */

.delivery {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    width: 1540px;
    height: 320px;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px;
    margin-left: 240px;
    margin-right: 240px;
    /* margin-top: 195px; */
    margin-bottom: 128px;
    display: none;
}

/* Hot Section */
.hot-bg {
    display: flex;
    justify-content: center;
    gap: 215px;
    width: 1922px;
    height: 620px;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 100px 100px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.hot-img {
    width: 318px;
    height: 420px;

}

.hot-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.hot-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.primary {
    color: red;
}

.hot-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn-1 {}

/* social section */
.social-img {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-bg {
    width: 1920px;
    /* height: 4867px; */
    background: #FFF;
}

/* deals section start */
.deals-container {
    width: 1440px;
    height: 420px;
    background-image: url("./flower-shop-assignment/Flower Asset/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 128px;
    margin-bottom: 128px;
    /* text-align: center; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.deals-input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    font-size: 16px;
    text-align: 22px;
}

.btn-2 {
    width: 150px;
    height: 64px;
    font-weight: 400;
}
/* contact section */
label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 8px;
   
   
}
.contact{
    width: 1540px;
    height: 320px;
    background-color: pink;
    margin-left: 240px;
    margin-right: 240px;
    text-align: center;
    
}
.text-feild{
    width: 500px;
    height: 40px;

}





/* footer section */
.footer-bottom {
    color: rgb(194, 180, 180);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;

}

.footer-title {
    color: aliceblue;
}

.footer-description {
    color: aliceblue;
}

.footer-container {
    width: 2120px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111010;
    margin-top: 128px;
}